body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

input[type='file'] {
    display: none;
}

.upload-file-button {
    cursor: pointer;
    background-color: #f9f9f9;
    border: 2px dashed #ccc;
    padding: 20px;
    transition: all 0.2s ease;
}

.upload-file-button:hover {
    background-color: #e1f7d5;
    border-color: #7dbf00;
}

.progress-label {
    margin-bottom: 0;
}

.text-center{
    text-align: center;
}

.d-flex {
    display: flex;
}

progress {
    transition: width 0.1s ease;
}

.section {
    box-sizing: border-box;
    justify-content: center;
    background-color: #b2cfe7;
    padding: 10px;
    border-radius: 50px;
    margin-inline: 10px;
}

#create-schedules-button {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    width: 40%;
    font-size: 1.8vw;
    background-color: #afe747;
    transition: all 0.2s ease;
}

#create-schedules-button:hover {
    filter: brightness(0.9);
}

#create-schedules-button:active {
    filter: brightness(0.8);
}

.hide {
    display: none;
}