body {
    font-family: 'Helvetica Neue', sans-serif;
    height: 100%;
}

button {
    font-family: 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 300%;
    text-align: center;
    font-weight: 300;
}

h2 {
    font-size: 200%;
    font-weight: 300;
}

h3 {
    font-size: 150%;
    margin: 20px 0 5px 0;
}

input[type='file'] {
    display: none;
}

.upload-file-button {
    width: 50%;
    aspect-ratio: 3;
    font-size: 120%;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 2px dashed #bbb;
    padding: 20px;
    transition: all 100ms ease;
    &:hover {
        background-color: #efe;
        border-color: #dea;
    }
}

.upload-label{
    font-weight: 500;
}

.progress-label {
    margin-bottom: 0;
}

.text-center{
    text-align: center;
}

progress {
    transition: width 0.4s ease;
}

.section {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    background: linear-gradient(#eee, #fff0);
    padding: 40px;
    border-radius: 40px;
}

#create-schedules-button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: 2px solid #68c;
    border-radius: 100px;
    padding: 20px;
    width: 40%;
    font-size: 150%;
    background-color: #cdf;
    transition: all 100ms ease;
    &:hover {
        filter: brightness(1.1);
    }
    &:active {
        filter: brightness(0.8);
    }
}

#pdf-viewer {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 8.5 / 11;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: white;
    margin-top: 20px;
}

#search-bar {
    display: flex;
    width: 100%;
    justify-content: center;
}

#search-input {
    border-radius: 10px 0 0 10px;
    border: none;
    width: 55%;
    padding: 5px 5px 5px 15px;
    font-size: 1.7em;
}

#search-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #ccc;
    border-left: solid 1px #bbb;
    transition: all 0.2s ease;
    cursor: pointer;
}

.hide {
    display: none;
}