body {
    font-family: 'Helvetica Neue', sans-serif;
    /* margin: 0; */
    /* padding: 0; */
    height: 100%;
}

button {
    font-family: 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 300%;
    text-align: center;
    font-weight: 300;
}

h2 {
    font-size: 200%;
    font-weight: 300;
}

h3 {
    font-size: 150%;
    margin: 20px 0 5px 0;
}

input[type='file'] {
    display: none;
}

.upload-file-button {
    width: 50%;
    aspect-ratio: 3;
    font-size: 120%;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 2px dashed #bbb;
    padding: 20px;
    transition: all 100ms ease;
    &:hover {
        background-color: #efe;
        border-color: #dea;
    }
}

.upload-label{
    font-weight: 500;
}

.progress-label {
    margin-bottom: 0;
}

.text-center{
    text-align: center;
}

progress {
    transition: width 0.1s ease;
}

.section {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    background: linear-gradient(#ddd, #fff0);
    padding: 40px;
    border-radius: 40px;
}

#create-schedules-button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: 2px solid #68c;
    border-radius: 100px;
    padding: 20px;
    width: 40%;
    font-size: 150%;
    background-color: #cdf;
    transition: all 100ms ease;
    &:hover {
        filter: brightness(1.1);
    }
    &:active {
        filter: brightness(0.8);
    }
}

.hide {
    display: none;
}