<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seminar Day Scheduler</title>

    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div>
        <br><br>
        <h1>DSHS Seminar Day Scheduler</h1>
        <br><br>
    </div>
    
        <div class="section">
            <form action="javascript:attemptFormSubmission()" method="POST">
                <h2><b>First,</b> upload all required CSV files.</h2>
                <hr>
                
                <h3>Student Grades</h3>
                <input type="button" value="Select CSV File" class="upload-file-button" id="grades-upload-button">
                <p id="grades-label" class="upload-label">No file selected</p>
                <br>
            
                <h3>Student Preferences</h3>
                <input type="button" value="Select CSV File" class="upload-file-button" id="prefs-upload-button">
                <p id="prefs-label" class="upload-label">No file selected</p>
                <br>

                <h3>Available Seminars</h3>
                <input type="button" value="Select CSV File" class="upload-file-button" id="seminars-upload-button">
                <p id="seminars-label" class="upload-label">No file selected</p>      
                <br><br><br>

                <h2><b>Next,</b> select an output folder.</h2>
                <hr>
                
                <h3>Output Folder</h3>
                <input type="button" value="Select Output Folder" class="upload-file-button" id="output-folder-upload-button">
                <p id="output-folder-label" class="upload-label">No folder selected</p>

                <br><br><br><br>

                <h2><b>And finally,</b></h2>
                <button type="submit" id="create-schedules-button">Create Schedules</button>
            </form>
        
        </div>

        <div class="section status-progress">
            <h2>Status</h2>
    
            <p id="not-running">Awaiting files</p>
            <div class='hide' id="progress-section-hidden-container">
                <h3 class="progress-label">Progress:</h3>
                <progress class="" max="100" value="0"></progress>
                <p id="status">Processing...</p>
            </div>
    
        </div>
        <!-- Amethyst Xue -->
    
    <script type="text/javascript" src="/static/main.js"></script>
    <script type="text/javascript" src="/static/select-files-folders.js"></script>
    <script type="text/javascript" src="/static/heartbeat.js"></script>
</body>
</html>