<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Seminar Day Scheduler</title>
    <link rel="icon" type="image/x-icon" href="/static/images/ds.png">

    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <img src="/static/images/ds.png" height="70px" width="auto">
        <h1 id="title">Seminar Day Scheduler</h1>
    </header>
    
    <div style="display: flex;">
        <div class="section" style="width: 50%;">
            <form action="javascript:attemptFormSubmission()" method="POST">
                <h2>Upload CSV Files</h2>

                <h3>Student Grades CSV</h2>
                <input type="button" value="Select CSV File" class="upload-file-button" id="grades-upload-button">
                <p id="grades-label">No file selected</p>
            
                <h3>Student Preferences CSV</h2>
                <input type="button" value="Select CSV File" class="upload-file-button" id="prefs-upload-button">
                <p id="prefs-label">No file selected</p>

                <h3>Available Seminars CSV</h2>
                <input type="button" value="Select CSV File" class="upload-file-button" id="seminars-upload-button">
                <p id="seminars-label">No file selected</p>      

                <h2>Select Output Folder</h2>
                
                <h3>Output Folder</h3>
                <input type="button" value="Select Output Folder" class="upload-file-button" id="output-folder-upload-button">
                <p id="output-folder-label">No folder selected</p>

                <button type="submit" id="create-schedules-button">Create Schedules</button>
            </form>
            
            <div class="status-progress">
                <h2>Status and Progress</h2>
                <p id="status"></p>
                <p id="is-running">Currently not running.</p>
            </div>
        </div>
    
        <div class="section" style="width: 50%;">
            <h2>View Schedules</h2>
            <div id="search-bar">
                <input type="text" id="search-input" placeholder="Enter student name...">
                <button id="search-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="18" y2="18"></line>
                  </svg>
                </button>
              </div>

              <div id="pdf-viewer">
                <p>Placeholder for PDF viewer</p>
              </div>
        </div>
    </div>
    
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/select-files-folders.js"></script>
    <script type="text/javascript" src="/static/js/heartbeat.js"></script>
</body>
</html>