<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seminar Day Scheduler</title>

    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1>Dover Sherborn High-School</h1>
    <h1>Seminar Day Scheduler</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <h2>Upload CSV Files</h2>

        <div>
            <h3>Student Grades CSV</h2>
            <div class="upload-container" id="grades-upload-container">
                <span>Drag and drop or click to select a CSV file</span>
                <input type="file" name="file" id="grades" required>
            </div>
            
            <p id="grades-label">No file selected</p>
        </div>

        <div>
            <h3>Student Preferences CSV</h2>
            <div class="upload-container" id="prefs-upload-container">
                <span>Drag and drop or click to select a CSV file</span>
                <input type="file" name="file" id="prefs" required>
            </div>
            
            <p id="prefs-label">No file selected</p>
        </div>

        <div>
            <h3>Available Seminars CSV</h2>
            <div class="upload-container" id="seminars-upload-container">
                <span>Drag and drop or click to select a CSV file</span>
                <input type="file" name="file" id="seminars" required>
            </div>
            
            <p id="seminars-label">No file selected</p>
        </div>

        <h2>Select Output Directory</h2>

        <div>
            <h3>Output Directory</h3>
            <input type="file" name="file" id="output-dir" webkitdirectory directory required>
        </div>

        <button type="submit">Upload</button>
    </form>

    <script type="text/javascript" src="/static/index.js"></script>
</body>
</html>